$main-color: #fff;
$additional-color: #fff;
$alternate-color: #FF4E33;

$body-bg: #222738;
$card-footer-bg: #3B3F50;

$header-bg-image: url('../img/m-h-night.jpg');

$button-color: #E3AC00;
$banner-gradient: linear-gradient(to right, #DCA108 0%, #932D52 100%);

$main-font: 'Hind',	sans-serif;
$additional-font: 'Fresca',	sans-serif;
