$main-color: #2C2F3C;
$additional-color: #fff;
$alternate-color: #14A0C7;

$body-bg: #fff;
$card-footer-bg: #222738;

$header-bg-image: url('../img/m-h-day.jpg');

$button-color: #699900;
$banner-gradient: linear-gradient(to right, #679708 0%, #315fcc 100%);

$main-font: 'Hind',	sans-serif;
$additional-font: 'Source	Sans	Pro',	sans-serif;
